
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 626px) {
  .form-controll {
    width: 200px;
  }
}
@media (min-width: 627px) {
  .form-controll {
    width: 25em;
  }
}

 .appBar {
  position: 'relative',
  }
.layout {
  width: 100%;
  }
  .paper {
    width: 70%;
    margin: 8rem auto;
    padding: 40px;
  }
  .stepper {
  padding: 10em;
  }
  .buttons {
    margin: 20px 0;
  display: flex;
  justify-content: center;
  }
  .button {
  margin-top: 20em;
  margin: 0 auto;
  margin-left: 10em;
  }
.form-controll {
  margin: 20px;
}

